<style>
 @media (max-width: 991px) {   /* Bootstrap lg breakpoint */
  #navbarNavAltMarkup {
    background-color: rgba(255, 255, 255, 0.993);
    padding: 1rem;
    margin-top: .5rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px 8px 2px rgba(70, 69, 69, 0.687);
  }
}

/* On larger screens, keep it clean */
@media (min-width: 992px) {
  #navbarNavAltMarkup {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
  }
}
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing">
      <i class="fa-solid fa-house-laptop fa-2x"></i>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <!-- Left Side -->
      <div class="navbar-nav">
        
        <a class="nav-link" href="/listing">Explore</a>
        <a class="nav-link" href="/listing/mylisting">Gallery</a>
      </div>
      
      <!-- Right Side -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">Create New</a>

         <% if(!currUser){ %>

          <a class="nav-link" href="/login">
            <i class="fa-solid fa-right-to-bracket"></i> Login
          </a>
          
          <a class="nav-link" href="/signup">
            <i class="fa-solid fa-user-plus"></i> SignUp
          </a>

        <%}%>

        <% if(currUser){ %>     
          
          <a class="nav-link" href="/logout">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
          </a>
          <%} %>
      </div>
    </div>
  </div>
</nav>
