<% layout("/Layouts/boilerplate") %>

<h2> <B>Your Listing</B></h2>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

    <% for (let item of data) { %>
      <div class="col">
        <a href="/listing/mylisting/<%=item._id  %>">


          <div class="card h-100 mt-1 ">

            <div class="card-img-overlay  d-flex flex-column justify-content-end "></div>
            <img  src="<%= item.image && item.image.length > 0 
        ? item.image[0].url 
        : 'https://i.pinimg.com/736x/17/d6/9e/17d69ea901cdfc39ec7a4e526741ad8f.jpg' %>"
         class="card-img-top card-image" style="height: 18rem;" alt="Listing_image">
            <div class="card-body ">

              <h5 class="card-title">
                <%= item.title %>
              </h5>
            
            </div>
        </a>
      </div>
  </div>
  <% } %>
</div>